.logo {
   width: 2%;
   display: block;
}
h1 {background-color: aliceblue;
    display: block;
    font-family: ' sans-serif,Times New Roman, Times';
    border: 10px;
    margin: 35px;
    padding: 15px;
    width: 100%;
  }
.navbar {
  background:#808080;
  opacity: 0.5;
  display: block;
  width: 100%;
  border-radius: 5px;
  text-align: left;
  border: 10px ;
  margin: 35px;
  padding: 15px;
  position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
   z-index: 1;

}
.navbar a{
  text-decoration: none;
  color:#000000;
  display: inline-block;
}
.status {
    position: relative;
    left:50px;
}
.content {
    position: relative;
    left:250px;
}
.footer a{
    text-decoration: none;
    color:#000000;
}
.footer {
  color:#000000;
  background:#808080;
  opacity: 1;
  display: inline-block;
  width: 100%;

  text-align: left;
  border: 10px ;
  margin: 35px;
  padding: 15px;
  border-radius: 5px;
}
@media all and (min-width:1068px){

.pdf {
  display: on;
}
}
@media all and (max-width:1068px){
.pic {
  display:on;
  width:1000px;
}
.pic-w{
   left:50%;
}
.pdf {
  display: none;
}
.h1 {
    font-size: xx-large;
}
.navbar {
    width: 80%;
}
.navbar a{
    font-size: xx-large;
}
.status{
    font-size: xx-large;
}
.footer a{
    font-size: xx-large;
    text-align:justify;
}

}
